cube-ws-service/src/main/resources/CubeManage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CubeManage"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:di="http://www.example.org/schema/CubeManage"
   xmlns:tns="http://www.example.org/contract/CubeManage"
   targetNamespace="http://www.example.org/contract/CubeManage">

   <!-- ############## -->
  <wsdl:types>
   <xsd:schema targetNamespace="http://www.example.org/schema/CubeManage"> 
    <xsd:element name="SomeParamComplex">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element minOccurs="0" name="machine" type="xsd:string"/>
       <xsd:element minOccurs="0" name="size" type="xsd:int"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element> 
   </xsd:schema>
  </wsdl:types>
   <!-- ############## -->
   
   <wsdl:message name="TripleItRequest">
      <wsdl:part element="di:SomeParamComplex" name="parameters" />
   </wsdl:message>
   <wsdl:message name="TripleItResponse">
      <wsdl:part type="xsd:int" name="result" />
   </wsdl:message>

   <!-- ############## -->

   <wsdl:portType name="CubeManagePortType">
      <wsdl:operation name="TripleIt">
         <wsdl:input message="tns:TripleItRequest" />
         <wsdl:output message="tns:TripleItResponse" />
      </wsdl:operation>
   </wsdl:portType>
   
   <!-- ############## -->
   
   <wsdl:binding name="CubeManageBinding" type="tns:CubeManagePortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="TripleIt">
         <soap:operation soapAction=""/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CubeManageService">
      <wsdl:port name="CubeManagePort" binding="tns:CubeManageBinding">
         <soap:address
            location="http://localhost:8080/cube-server/services/cubemanage"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions> 

