cube-ws-service/src/main/resources/CubeManage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CubeManage" 
 targetNamespace="http://cubemanage.cube.vbs.admin.ch/" 
 xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:tns="http://cubemanage.cube.vbs.admin.ch/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xsd:schema 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:tns="http://cubemanage.cube.vbs.admin.ch/" 
 attributeFormDefault="unqualified" 
 elementFormDefault="qualified" 
 targetNamespace="http://cubemanage.cube.vbs.admin.ch/">
 
  <xsd:element name="login" type="tns:login"/>
  <xsd:complexType name="login">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="loginResponse" type="tns:loginResponse"/>
  <xsd:complexType name="loginResponse">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="report" type="tns:report"/>
  <xsd:complexType name="report">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
      <xsd:element name="arg1" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="reportResponse" type="tns:reportResponse"/>
  <xsd:complexType name="reportResponse">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="listVMs" type="tns:listVMs"/>
  <xsd:complexType name="listVMs">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:element name="listVMsResponse" type="tns:listVMsResponse"/>
  <xsd:complexType name="listVMsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="listVMs">
    <wsdl:part name="parameters" element="tns:listVMs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listVMsResponse">
    <wsdl:part name="parameters" element="tns:listVMsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="report">
    <wsdl:part name="parameters" element="tns:report">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportResponse">
    <wsdl:part name="parameters" element="tns:reportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CubeManagePortType">
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="report">
      <wsdl:input name="report" message="tns:report">
    </wsdl:input>
      <wsdl:output name="reportResponse" message="tns:reportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listVMs">
      <wsdl:input name="listVMs" message="tns:listVMs">
    </wsdl:input>
      <wsdl:output name="listVMsResponse" message="tns:listVMsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CubeManageSoapBinding" type="tns:CubeManagePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listVMs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listVMs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listVMsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="report">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="report">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CubeManage">
    <wsdl:port name="CubeManagePort" binding="tns:CubeManageSoapBinding">
         <soap:address location="https://server.cube.com:8443/cube-server/services/cubemanage"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>